@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-3">Welcome</h2>
    <h1 class="display-4">on</h1>
    <h1 class="display-1">Employee Management System</h1>

    <p>Click Here for Open <a class="" asp-controller="Employee" asp-action="Index">Employee Registration Page</a>.</p>
</div>
